//#include "mpxs32g274ar2.dtsi"

/dts-v1/;
#include "s32g2.dtsi"

/ {
    model = "TTTech S32G274A N4/2.5Gb";
    compatible = "fsl,s32g274-simu", "fsl,s32g274",
                 "arm,vexpress,v2p-aarch64", "arm,vexpress";

	chosen {
		stdout-path = "serial0:115200n8";
	};

};

/*
&leds {
	user1 {
		label = "carrier:green:user";
		gpios = <&gpio44_1 4 0>;
		default-state = "off";
	};

	user2 {
		label = "carrier:red:user";
		gpios = <&gpio44_1 5 0>;
		default-state = "off";
	};
};
*/

&llce_dte_sram {
	status = "okay";
};

&llce_ppe_rx_sram {
	status = "okay";
};

&llce_ppe_tx_sram {
	status = "okay";
};

&llce_frpe_sram {
	status = "okay";
};

&llce_shmem {
	status = "okay";
};

/*
&llce_boot_status {
	status = "okay";
};
*/

&llce_can0 {
	status = "okay";
};

&llce_can1 {
	status = "okay";
};

&llce_can2 {
	status = "okay";
};

&llce_can3 {
	status = "okay";
};

&llce_can4 {
	status = "okay";
};

&llce_can5 {
	status = "okay";
};

&llce_can6 {
	status = "okay";
};

&llce_can7 {
	status = "okay";
};

&llce_can8 {
	status = "okay";
};

&llce_can9 {
	status = "okay";
};

&llce_can10 {
	status = "okay";
};

&llce_can11 {
	status = "okay";
};

&llce_can12 {
	status = "okay";
};

&llce_can13 {
	status = "okay";
};

&llce_can14 {
	status = "okay";
};

&llce_can15 {
	status = "okay";
};

/*
&gmac0 {
	status = "okay";
	phy-mode = "sgmii";
	phy-handle = <&phy0>;
};
*/

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

/*
&usdhc0 {
	status = "okay";
	cd = <&gpio43_1 5 GPIO_ACTIVE_LOW>;
};
*/

&can2 {
	status = "okay";
};

&can3 {
	status = "okay";
};

&spi0 {
	status = "okay";

/*
	sja1110-uc@2 {
		compatible = "nxp,sja1110-uc";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <2>;
	};

	sja1110-sw@1 {
		compatible = "nxp,sja1110-switch";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <1>;
		reset-gpio = <&gpio43_1 3 GPIO_ACTIVE_LOW>;

		ngpios = <16>;
		gpio-line-names = "0", "1", "2", "3", "4", "5", "6", "7",
				"8", "9", "10", "11", "12", "13",
				"LAN_100_LED_YELLOW", "LAN_100_LED_GREEN";
	};

	sja1110-per-ss1@7 {
		compatible = "nxp,sja1110-per-ss1";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
		reg = <7>;
		status = "disabled";
	};
	*/
};

&spi2 {
	bus-num = <0>;
	status = "disabled";

	sja1110: ethernet-switch@1 {
		reg = <0x1>;
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "nxp,sja1105";
		spi-max-frequency = <5000000>;
		fsl,spi-cs-sck-delay = <50>;
		fsl,spi-sck-cs-delay = <50>;
	};
};

&pcie0 {
	status = "disabled";
};

&pcie1 {
	status = "disabled";
};
