CONFIG_ARM=y
CONFIG_ARCH_S32G2=y
CONFIG_TARGET_S32G274ATTTECHN4=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_FIT=y
CONFIG_SD_BOOT=y
CONFIG_PHY_GIGE=y
CONFIG_MII=y
CONFIG_SJA1105=y
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="s32g274atttechn4"
CONFIG_CMD_PMIC=y
CONFIG_BOOTM_EFI=y
CONFIG_DM_MDIO=y
CONFIG_DM_PMIC_VR5510=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_CHILDREN=y
CONFIG_NXP_HSE_SUPPORT=y
CONFIG_NXP_HSE_FW_FILE="s32cc_hse_fw.bin"


CONFIG_PCI=n
CONFIG_PCI_S32CC=n
CONFIG_PCI_ENDPOINT=n
CONFIG_E1000=n
CONFIG_CUSTOM_SYS_TEXT_BASE=y
CONFIG_SYS_TEXT_BASE=0xdfaa0000
CONFIG_CUSTOM_SYS_DATA_BASE=y
CONFIG_SYS_DATA_BASE=0xdfa00000
